.tabs {
    position: fixed;
    bottom: 2px;
    left: 10px;
    right: 10px;
    padding: 4px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border: 1px solid rgb(204, 0, 255);
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 8px;
    margin: 0 auto;
    backdrop-filter: blur(10px); 
    z-index: 9;
}

.tabs li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.tabs svg {
    height: 30px;
    width: 30px;
}

.tabs svg:hover {
    opacity: .8;
}

.quiz h4 {
    font-weight: 700;
    font-size: 1rem;
    border-bottom: 1px solid rgb(204, 0, 255);
    width: 84px;
}










.login--contaiener {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90vh;
}


.update .login-box {
    max-width: 700px;
    width: 100%;
}



@media screen and (max-width: 770px) {
    .login--contaiener {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .login--contaiener .box-1 {
        min-width: 100%;
        display: none;
        
    }

    .login--contaiener .login-box {
        min-width: 100%;
    }

    .btns button {
        font-size: .9rem;
        padding: 1px 14px;
        padding-bottom: 4px;
    }

    .tabs svg {
        height: 24px;
        width: 28px;
    }
}


.login--contaiener .login-box .img {
        height: 5rem;
        width: 5rem;
        cursor: pointer;
    }

    .login--contaiener .login-box img {
        background-color: rgba(73, 74, 77, 0.644);
        height: 100%;
        width: 100%;
        border-radius: 100px;
        font-size: .7rem;
    }




.login--contaiener .welcome {
    font-weight: 700;
}

.login--contaiener .box-1 {
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcaxps4Ny7OoXRUHwuv1bhOGZlk4DImIXqQQ&s");
    background-size: cover;
    padding: 40px 14px;
}

.login--contaiener .login-box {
    max-width: 50%;
    padding: 4px;
}




.login--contaiener .title {
    padding-bottom: 4px;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.075);
    backdrop-filter: blur(20px);
}

.login--contaiener .intro {
    font-size: .9rem;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.075);
    backdrop-filter: blur(20px);
}



.login--contaiener .login-box {
    max-width: 50%;
}

.login--contaiener form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin-top: 20px !important;
}


.login--contaiener .err div {
    margin: 0;
    margin-left: 4px;
    margin-top: 4px;
    padding: 4px;
}

.login--contaiener form input {
    padding: 3px 10px;
    font-size: .9rem;
    height: 30px;
    border-radius: 400px;
    background-color: rgb(82, 79, 79);
    outline: none;
    border: 0;
    color: white;
}

.login--contaiener form input:focus {
    outline: none;
    border: 2px solid rgb(187, 187, 187);
}

.login--contaiener form .btns{
    margin-top: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.login--contaiener form .btns button {
    font-size: .9rem;
    padding: 2px 10px;
    padding-bottom: 4px;
}

.login--contaiener .footer {
    font-size: .9rem;
    margin-top: 10px;
    margin-bottom: 4px;
}








.quiz-tab {
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
}

.quiz-tab:hover {
    opacity: .8;
}

.quiz-tab svg {
    height: 20px;
    width: 20px;
    margin-right: 4px;
    margin-bottom: -4.9px;
}

.quiz-tab span {
    color: white;
}









.quiz .head {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
}

.quiz .head svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 99;
}

.quiz .head .msg-note {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 100px;
    position: absolute;
    right: 1px;
    top: 2px;
}

.quiz .head svg:hover {
    opacity: .8;
}

.quiz .adjust-box {
    list-style: none;
    border: 1px solid rgb(148, 125, 151);
    z-index: 999;
    font-size: .8rem;
    border-radius: 4px;
    position: absolute;
    right: 14px;
    margin-top: 30px;
}

.quiz .adjust-box li {
    cursor: pointer;
    padding: 2px 10px;
    background-color: rgba(0, 0, 0, 0.911);
    border: 1px solid rgb(102, 93, 104);
}

.quiz .adjust-box li:hover {
    background-color: rgba(192, 192, 192, 0.966);
    color: black;
}









.quiz-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 2px;
    margin-bottom: 30px;
}

.quiz-nav .div {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    overflow: hidden;
    border: 2px solid transparent;
    outline: 2px solid rgb(247, 0, 255);
}


.quiz-nav .div img {
    height: 100%;
    width: 100%;
    background-color: rgba(110, 119, 119, 0.247);
    object-fit: cover;
    font-size: .7rem;
}

.quiz-nav .link {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.quiz-nav .info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.quiz-nav .info p {
    color: white;
}

.quiz-nav .info .lvl {
    border: 1px solid rgb(255, 196, 0);
    border-radius: 100px;
    padding: 0 10px;
    font-size: .9rem;
    color: gold;
    margin-top: 3px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}


.quiz-nav .xp-box {
    display: flex;
    border: 1px solid rgb(255, 230, 0);
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    min-width: 100px;
    height: 34px;
    background-color: rgba(175, 166, 166, 0.377);
    font-size: .9rem;
    font-weight: 700;
    padding-right: 8px;
}

.quiz-nav .xp-box .icon {
    background-color: rgba(235, 212, 6, 0.945);
    height: 100%;
    min-width: 40px;
    font-weight: 700;
    color: rgb(59, 50, 50);
    border: 1px solid rgb(255, 136, 0);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 2px rgb(255, 238, 0);
    font-size: .9rem;
}



@media screen and (max-width: 600px) {
    .quiz-nav .div {
        width: 60px;
        height: 60px;
    }

    .quiz-nav .info p {
        font-size: .99rem;
    }

    .quiz-nav .info .lvl {
        font-size: .6rem;
    }

    .quiz-nav .xp-box {
        height: 30px;
        gap: 10px;
        min-width: 70px;
    }

    .quiz-nav .xp-box .icon {
        min-width: 30px;
        font-size: .8rem;
    }
}












.help-page {
    background-color: rgba(0, 0, 0, 0.521);
    display: flex;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.158);
    padding: 10px 4px;
    flex-direction: column;
    gap: 40;
    justify-content: center;
    align-items: center;
}

.help-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;
}

.help-nav img {
    width: 4rem;
    border-radius: 100rem;
}

.help-nav p {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




.help-main {
    max-width: 700px;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 20px;
}


.help-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: .9rem;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding: 0 8px;
}


.help-list {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow: scroll;
    border-radius: 4px;
}

.help-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: .87rem;
    border: 1px solid rgba(255, 255, 255, 0.295);
    padding: 4px 8px;
}

.help-main .name {
    flex: 3;
    
}

.help-main .num {
    flex: 1;
}

.help-main .pass {
    flex: 2;
}


.help-page button {
    border: 1px solid rgba(255, 255, 255, 0.411);
    background-color: rgba(128, 128, 128, 0.315);
    font-size: .9rem;
    padding-bottom: 5px;
}









.note-page {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.788);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}


.notification-box {
    max-width: 700px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid rgba(0, 255, 255, 0.959);
    border-radius: 5px;
    padding: 8px;
}


.note-lists {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    max-height: 400px;
    overflow: scroll;
}

.note-lists li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 32, 32);
    color: rgb(254, 255, 220);
    font-weight: 500;
    width: 100%;
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid gold;
}


.nb {
    color: red;
    font-size: .7rem;
    font-weight: 500;
    margin-top: 4px;
}

.note-lists li .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gold;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}

.note-lists li .note-name {
    font-size: .94rem;
    font-weight: 400;
}


.note-lists li .readed {
    font-size: .82rem;
    border: 1px solid rgb(255, 196, 0);
    padding: 0 14px;
    border-radius: 100px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.295);
    transition: .2s;
    padding-bottom: 2px;
    font-weight: 400;
}

.note-lists li .readed:hover {
    background-color: rgb(53, 53, 53);
}

.note-page button {
    border: 1px solid;
    padding: 2px 20px;
    padding-bottom: 4px;
    border-radius: 4px;
    font-size: .8rem;
}





.avatar-page {
    max-width: 800px;
    position: relative;
}


.avatar-page svg {
    position: absolute;
    right: 4px;
    cursor: pointer;
}


.avatar-main .img {
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid rgb(234, 0, 255);
    outline: 2px solid rgb(153, 0, 255);
    background-color: rgba(117, 115, 115, 0.288);
}

.avatar-main .img img {
    height: 100%;
    width: 100%;
}


.avatar-main p {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.925);
    font-weight: 500;
    border-bottom: 1px solid rgb(172, 167, 167);

}


.avatar-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(26, 26, 26);
    border: 1px solid rgba(128, 128, 128, 0.753);
    border-radius: 8px;
    padding: 10px 10px; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    text-align: start;
    align-items: start;
    max-height: 400px;
    overflow: scroll;
    margin-top: 10px;
    padding-bottom: 2px;
}

.avatar-box img {
    background-color: rgba(166, 166, 173, 0.233);
    height: 3rem;
    width: 3rem;
    border-radius: 40px;
    font-size: .7rem;
    outline: 2px solid rgb(223, 213, 213);
    cursor: pointer;
    margin: 0 auto;
}

.avatar-box img.selected {
    outline: 2px solid rgb(0, 255, 0);
}