.tabs {
    position: fixed;
    bottom: 2px;
    left: 10px;
    right: 10px;
    padding: 4px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border: 1px solid rgb(204, 0, 255);
    background-color: rgba(0, 0, 0, 0.185);
    border-radius: 8px;
    margin: 0 auto;
    backdrop-filter: blur(10px); 
    z-index: 9;
}

.tabs li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.tabs svg {
    height: 30px;
    width: 30px;
}

.tabs svg:hover {
    opacity: .8;
}

.quiz h4 {
    font-weight: 700;
    font-size: 1rem;
    border-bottom: 1px solid rgb(204, 0, 255);
    width: 84px;
}










.login--contaiener {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90dvh;
    overflow: scroll;
}


.update .login-box {
    max-width: 700px;
    width: 100%;
}






.login--contaiener .login-box .img {
        height: 5rem;
        width: 5rem;
        cursor: pointer;
    }

    .login--contaiener .login-box img {
        background-color: rgba(73, 74, 77, 0.644);
        height: 100%;
        width: 100%;
        border-radius: 100px;
        font-size: .7rem;
    }




.login--contaiener .welcome {
    font-weight: 700;
}

.login--contaiener .box-1 {
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMSEhUSEhIVFRUVFRUXFRUXFxUVFRcXFRcXFxUVFRUaHSggGBolHRcVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OFRAQFy0dHR0tLS0tLS0tLSstLS0tLS0tLS0tLS8tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIAKgBLAMBIgACEQEDEQH/xAAbAAADAQEBAQEAAAAAAAAAAAAAAQIDBAUGB//EADYQAAICAQIEAwUIAgEFAAAAAAABAhEDITEEEkFRBWFxgZGhwfAGEyIysdHh8UJSkhQVI2KC/8QAGQEBAQEBAQEAAAAAAAAAAAAAAAECAwQF/8QAIREBAQACAgICAwEAAAAAAAAAAAECEQMSIUExURMiYSP/2gAMAwEAAhEDEQA/APzrgvEHFcktYvRpkcVicHzQdxf1qZcVjtWvr2kcPxbVxez6eh9Lt6rx6aLPa/VHNmjWw80K1jsRHIZt+10rHm6Mzz4+qJyRCGXozNrWmcZ0OWossDOMqMbVXMJjkiOYlqhjsliM7WQ2hAJmVANibEA7HuSKyKbENkkUBYCYUxABAAICAKRIwHJENFNiAVDAEADEMC4qxsrGqp9hN3qAkMQ0Felg4mtGHEQ6ozyq9SceV7M9Xb04aPHm6PYnIq1QZY9URGfQlpo1MmSCSEpGdqqOToyJxFJBGRFkSpAwkiSKYgYiAsOYVAFDAdiZFDEMRAAAgBiooTIpAAAFBQDIEAUUogSIqhUAgQ0h0AiooKKSA0i61T13XlT/AKIHLsTYAWmQimRXXZE9Sn8BqaSapNtqnraq7SV1rfXsqrU77ckRmRkiORKkRQpCa6hJEpjYaYmgoRNh2JoKBMLpIFMmgAQwIJGhioihoKKQmgFQUVRNEBJiKomgoYqKAglIaRQAIdAkMCWgouKCRRmkUojopoglIf6/D3+8qUKp2tV7t1r229xCfYBX8QocYmsMfnoBONq9dtL0TdWm2r66eXxNHXTVdLpOvNAsYchdGzjKtAKa+t0ZqVHRg5EvUpslogSYpIGCYUkxDoRAAAAMTHQATQ6GIgTQ6AaRRNDGFAKgopIqOOxrZtlQUelwPhGXNLlx45zl/rGLk/cke3j+wvFXUoQxvtPLijL/AI83MvcdPwZM3kxfI0Oj6qf2Pyq0snDya3jHNjtextHl8d4HmxW543X+yqUV6yja+IvDlCckryuUTOmONLe9nXr0M+Tqcri3tmkXBaWOhAC1dil5joVEEjSoOUqwp8nV6Ao/0a48V7vW1Xo9/l8S5cK4unvp9Pt0LpnaMeJatvalWtvfVdKXzXmauG16dl8wcGq0LkurvWvb2NyM7E8ey8um+oo8PerdHbw2BKLnP2dVb6vsvPyOSc7228jWWOvNTHK3xHJCfRikZtUVGRhsWMJIiwBgU3YmiCQoYAJAMEAgorYAEUkqeutqlWjWtu+laaV16VrLQAIEMAHQ6FE6eHqmmrb2fbXeuv8AJZERgwOTpI/SPAfsfw/Dxjl8Rnytq44E6nXR5WtYr/1Sv0OT7LcPj4LHHjMsVLLJN8PjlsknX30l11vl9G+x4vjPjUsmRzm3+KVv27tX7T2STix/rz5XLO6nw+38X+0mPHiceHi8eKVxjjgnjt7O+TWTa6uTe90fA+JeJKOqik35yvVb6v4a/I8vifE7/K5r1lenpdfA8/jMjk7uzjlzXXh0w4pPl7fDc7SnL8MWrc7uotfma+FddDOHjkotclx871fS76J9jy8vFXDka2rXzX1+vc5LOE5c/ddrhH0GXioZfzpKX+0Ul/yWz9dzjzYeXqvJ9H6fyedDK0dGHiK0ez+rRu8ky+WeuvgMDZYvSvqjqxcG96uuyv2t+73melpcpHA4+Q6vTf8Ag9iHhc65pQeuvn6pdV8Dfi/Cpwjjv8KnFSi/zKuZx1aelNbPU6fhyjH5ZXg4MaclzXVq60ddabVI6uH4FydLXWtF1rZfudnD8JFO56pJPltU3W2j9fiHE8Wt41Gm1yw0XvvX2FnHMfOSXO3xirgeFXOuaMmu0K5uVWrTeyvqel4Z4VjyP83X8VJtt9Ip+b6nj48kuW+bljLfW3p5b/3frXCTleknGF6zV/I6YdZfM2xn2s1Lp08Y8X3k6jKraim1ap6c7W7rf5HO5OMr0338u5E+MgqSjem7er33r6oyy8TzfntLyet/41d6fIlyxntZLRxWW/8AJ7e7yMFlrRGc5fW/10IbPPlluu2M1CkQ0XEGRSiOiB84AU2TIEAILFYmA5CHzCCm3oIoAhD5RUOwGkDQrHFMAo9X7PcGsuaEJNqNtza3UIpym158qdedHm8jPa8Kn93hz5OrjHGv/uXM/hCvaduGftu+nPO+G3j/AIs8mZyqop1CK/LGMdIRXkkkfOZs9ybersWbM7OWUjHJybreGGo0nNMzsS9g2ctumiYBZVECSKAYHs/Z7/yS+6rdp3+G62dOTS6rqj6jw7JjwrLGUk3ycu735lpHT8VVrok69D4Tg8rhOMk6afu6HbLO3vb76np4uWTHy83Jx23w+i4zxNSnzOTdRUU0lG4paJxjV+dvq7s87jOPbaXNyx2eldNlG6/o81Zm2lHRulul729jnc71epcue3wY8MjoycQn3d+zp6fVGfJe707GaZXNX19Ucd7+XXWmn3lbfwE+JbSXbvtv/RjKWhnInanWOiOau3uTJnO9d/UxcSbZO1a00bBExmaqiKgLBoXMaZVJNENDmxOL36Ai+HScoqTpOSTa3SvV+438U8S+8lUEseOOkIR2S6X/ALS7yerOMlw7CZeNLpolpYmUrqi44n0QNs+ViSN5Ym3129fcdHDeHzlJQr8Umkt7tulotX7i9bfhntHDEuOJvyPWnwCil+JSv/WSjonWumntK4TO8E1khpOLuPMk1r3vf2o3+K6ZmcteU8fZNmuLg5v/AAkdcuKT7q+2n6b9QjCMvy1arR2m+9dH03fVG5hPvbNyrH/t0uy9rS+Z0R8HmnTlCOl3K6rpsr10MZ8TFaNd6rl3a3b1tbaeuxlDiad/0P8AOJ+99vWy+DcslH7/ABXXSTp6KkpVy2/XTyK8R4f7vhZJzjK8sU1FxlpFT1TTej79TzP+tb039dF/BeXPzY5RflJaLpp+jZ0mWGrIz1y3NvEmzNmmQzaPFXqhMB0EjKiKKQkikA6ZdWQb40WBRjqvU2bk/wBwqr8vpGamb+GacY26G4NEKRv94u2vcRGTkRMvTVsUV1IqARTjQc2ldSKEurBocS4RsII4kbR4fzHCDOiEtOprSbebGgWuyFFLqUppbAJQ8x/XUTmKTvoA2Q39dSlG+pccbeysBLJfqbY4yfkTDG7ptK+miX7BmlyulK/TY3/azf46U46JyrTu2m7u326E5uJtL8OiVbyp971vy6HI5xIeRdl8ReT0TB0yzKtNPLsZyzN7fqYya6WQY7NdY3ll6ar9BQzyWzMXICdl1GjyPuLm7shsTZNrptjml1fs+RvDKl09++pxqRcsre/l7lovkWZaSws8f39hzs3crJcX7CVYnJCkmno18SGi5R0v6ruTuZaJFRQJdyoxCU4o68a7bkY4pfoaxqC5nv8A4rv5vyOmMZpcS6067v5fXoc12EpW23q2CRm3dWRad7kAnQ0A0x8zEvrT5EtAUOvJ/XYXMVH9/wCwLhJUVdGaiaQiVG0ctb+/0r90dOPiI0YY8V7nVDgk+pqSpuPDbLgzWGB6vtv5a0m+2rS9pvjjBb29Pj5OtCTEuTnjjvuaxxxW+vl/J0Z+NTtRxxjt5vRVfle7OJ52ne/rr8DXiM+a3+8j2Xp19+pn/wBa4SuDa3WnZ6PV+0jjuMllk5ypdlFKKS6JJbJHOS5/SzH7XkzOTt377IsQNGNt6A7ogLIKbESAFWFktgFMBWICuYVgKwGi4SSeqtGYAd2bLGVOKSdU0+vS/rscVCK5iaKdGsIf2ZczFZYOh5EttX57GcpNu3qToBdoqLGmSivT9/jRA6BiGmUA2gQ4oCWhotWOi6TZJm+KZEcf11NI4jUiWvR4Xle+h7mHwyMlaenqj5vFBrod+LNJKjrixXz3MkZvISp1+3fydEtnntdZFOQr/j69CQIG2DZKEBT/AJ+QrFYrCmFibFYNKbFYrABtgIAp2FiABsBAAwEMIEOySgplONb3qr17PZ+hBSCKbASYAMAGECZQkhgMtCiikjUQ0zSJMUXGJuI1xQ8zuwYn2tHHjR28No9HR1wjnk9Tg+EUvL4HtYvAJNXozj8M4yUa5scckfifX8H4vwfKuaOWD/1VnXTm/CR38hAeB6g2IAClYNgACAACgAAIBDAAAAIoAAAAAABgAFAUgAgY0AFQwAAHQ0gAIpIaQwLBSRpFDA3Ga0jFGkMYwOmMYrbHF9jt4eKe4AdpHO17XBcP2Z7uKGRLp7gA2xX/2Q==");
    background-size: cover;
    padding: 40px 14px;
}

.login--contaiener .login-box {
    max-width: 50%;
    padding: 4px;
}




.login--contaiener .title {
    padding-bottom: 4px;
    font-size: 1.1rem;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.075);
    backdrop-filter: blur(20px);
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.login--contaiener .intro {
    font-size: .9rem;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.075);
    backdrop-filter: blur(20px);
}



.login--contaiener .login-box {
    max-width: 50%;
}

.login--contaiener form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin-top: 20px !important;
}


.login--contaiener .err div {
    margin: 0;
    margin-left: 4px;
    margin-top: 4px;
    padding: 4px;
}

.login--contaiener form input {
    padding: 3px 10px;
    font-size: .9rem;
    height: 30px;
    border-radius: 400px;
    background-color: rgb(82, 79, 79);
    outline: none;
    border: 0;
    color: white;
}

.login--contaiener form input:focus {
    outline: none;
    border: 2px solid rgb(187, 187, 187);
}

.login--contaiener form .btns{
    margin-top: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.login--contaiener form .btns button {
    font-size: .9rem;
    padding: 2px 10px;
    padding-bottom: 4px;
}

.login--contaiener .footer {
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: 200;
    font-size: .88rem;
}








.quiz-tab {
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
}

.quiz-tab:hover {
    opacity: .8;
}

.quiz-tab svg {
    height: 20px;
    width: 20px;
    margin-right: 4px;
    margin-bottom: -4.9px;
}

.quiz-tab span {
    color: white;
}









.quiz .head {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
}

.quiz .head svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 99;
}

.quiz .head .msg-note {
    height: 10px;
    width: 10px;
    background-color: rgb(255, 0, 0);
    border-radius: 100px;
    position: absolute;
    right: 1px;
    top: 2px;
}

.quiz .head svg:hover {
    opacity: .8;
}

.quiz .adjust-box {
    list-style: none;
    border: 1px solid rgb(148, 125, 151);
    z-index: 999;
    font-size: .8rem;
    border-radius: 4px;
    position: absolute;
    right: 14px;
    margin-top: 30px;
}

.quiz .adjust-box li {
    cursor: pointer;
    padding: 2px 10px;
    background-color: rgba(0, 0, 0, 0.911);
    border: 1px solid rgb(102, 93, 104);
}

.quiz .adjust-box li:hover {
    background-color: rgba(192, 192, 192, 0.966);
    color: black;
}









.quiz-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 2px;
    margin-bottom: 30px;
}

.quiz-nav .div {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    overflow: hidden;
    border: 2px solid transparent;
    outline: 2px solid rgb(247, 0, 255);
}


.quiz-nav .div img {
    height: 100%;
    width: 100%;
    background-color: rgba(110, 119, 119, 0.247);
    object-fit: cover;
    font-size: .7rem;
}

.quiz-nav .link {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.quiz-nav .info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.quiz-nav .info p {
    color: white;
}

.quiz-nav .info .lvl {
    border: 1px solid rgb(255, 196, 0);
    border-radius: 100px;
    padding: 0 10px;
    font-size: .9rem;
    color: gold;
    margin-top: 3px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}


.quiz-nav .xp-box {
    display: flex;
    border: 1px solid rgb(255, 230, 0);
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    min-width: 100px;
    height: 34px;
    background-color: rgba(175, 166, 166, 0.377);
    font-size: .9rem;
    font-weight: 700;
    padding-right: 8px;
}

.quiz-nav .xp-box .icon {
    background-color: rgba(235, 212, 6, 0.945);
    height: 100%;
    min-width: 40px;
    font-weight: 700;
    color: rgb(59, 50, 50);
    border: 1px solid rgb(255, 136, 0);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 2px rgb(255, 238, 0);
    font-size: .9rem;
}



@media screen and (max-width: 600px) {
    .quiz-nav .div {
        width: 60px;
        height: 60px;
    }

    .quiz-nav .info p {
        font-size: .99rem;
    }

    .quiz-nav .info .lvl {
        font-size: .6rem;
    }

    .quiz-nav .xp-box {
        height: 30px;
        gap: 10px;
        min-width: 70px;
    }

    .quiz-nav .xp-box .icon {
        min-width: 30px;
        font-size: .8rem;
    }
}












.help-page {
    background-color: rgba(0, 0, 0, 0.521);
    display: flex;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.158);
    padding: 10px 4px;
    flex-direction: column;
    gap: 40;
    justify-content: center;
    align-items: center;
}

.help-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;
}

.help-nav img {
    width: 4rem;
    border-radius: 100rem;
}

.help-nav p {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




.help-main {
    max-width: 700px;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 20px;
}


.help-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: .9rem;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding: 0 8px;
}


.help-list {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow: scroll;
    border-radius: 4px;
}

.help-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: .87rem;
    border: 1px solid rgba(255, 255, 255, 0.295);
    padding: 4px 8px;
}

.help-main .name {
    flex: 3;
    
}

.help-main .num {
    flex: 1;
}

.help-main .pass {
    flex: 2;
}


.help-page button {
    border: 1px solid rgba(255, 255, 255, 0.411);
    background-color: rgba(128, 128, 128, 0.315);
    font-size: .9rem;
    padding-bottom: 5px;
}









.note-page {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.788);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}


.notification-box {
    max-width: 700px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid rgba(0, 255, 255, 0.959);
    border-radius: 5px;
    padding: 8px;
}


.note-lists {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    max-height: 400px;
    overflow: scroll;
}

.note-lists li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 32, 32);
    color: rgb(254, 255, 220);
    font-weight: 500;
    width: 100%;
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid gold;
}


.nb {
    color: red;
    font-size: .7rem;
    font-weight: 500;
    margin-top: 4px;
}

.note-lists li .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gold;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
}

.note-lists li .note-name {
    font-size: .94rem;
    font-weight: 400;
}


.note-lists li .readed {
    font-size: .82rem;
    border: 1px solid rgb(255, 196, 0);
    padding: 0 14px;
    border-radius: 100px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.295);
    transition: .2s;
    padding-bottom: 2px;
    font-weight: 400;
}

.note-lists li .readed:hover {
    background-color: rgb(53, 53, 53);
}

.note-page button {
    border: 1px solid;
    padding: 2px 20px;
    padding-bottom: 4px;
    border-radius: 4px;
    font-size: .8rem;
}





.avatar-page {
    max-width: 800px;
    position: relative;
}


.avatar-page svg {
    position: absolute;
    right: 4px;
    cursor: pointer;
}


.avatar-main .img {
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid rgb(234, 0, 255);
    outline: 2px solid rgb(153, 0, 255);
    background-color: rgba(117, 115, 115, 0.288);
}

.avatar-main .img img {
    height: 100%;
    width: 100%;
}


.avatar-main p {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.925);
    font-weight: 500;
    border-bottom: 1px solid rgb(172, 167, 167);

}


.avatar-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(26, 26, 26);
    border: 1px solid rgba(128, 128, 128, 0.753);
    border-radius: 8px;
    padding: 10px 10px; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    text-align: start;
    align-items: start;
    max-height: 400px;
    overflow: scroll;
    margin-top: 10px;
    padding-bottom: 2px;
}

.avatar-box img {
    background-color: rgba(166, 166, 173, 0.233);
    height: 3rem;
    width: 3rem;
    border-radius: 40px;
    font-size: .7rem;
    outline: 2px solid rgb(223, 213, 213);
    cursor: pointer;
    margin: 0 auto;
}

.avatar-box img.selected {
    outline: 2px solid rgb(0, 255, 0);
}


@media screen and (max-width: 770px) {
    .login--contaiener {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .login--contaiener .title {
        max-width: 200px;
        margin-top: 24px;
    }

    .login--contaiener .intro {
        font-size: 1rem;
    }

    .login--contaiener .box-1 {
        min-width: 100%;
        display: none;
        
    }

    .login--contaiener .login-box {
        min-width: 100%;
    }

    .btns button {
        font-size: .9rem;
        padding: 1px 14px;
        padding-bottom: 4px;
    }

    .tabs svg {
        height: 28px;
        width: 32px;
    }
}