.headFav {
    display: flex;
    margin-top: -20px;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    margin-bottom: 17px;
    position: sticky;
    top: 0px;
    height: 40px;
    backdrop-filter: blur(20px);
    padding: 3px 4px;
    padding-top: 4px;
    box-shadow: 0px 10px 900px 2px rgb(0, 0, 0);
    background-color: rgba(41, 40, 40, 0.664);
}

.headFav > div {
    gap: 4px;
}

.headFav input {
    padding: 14px 8px;
    width: 50%;
    flex: 1;
    border-radius: 4px;
    height: 24px;
    border: 1px solid rgba(228, 228, 228, 0.863);
    background-color: rgba(0, 0, 0, 0.555);
    color: antiquewhite;
}



.headFav input:focus {
    outline: none;
}


.headFav .selectBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: .9rem;
    position: relative;
}

.headFav .output {
    border-radius: 2px;
    border: 1px solid rgb(202, 202, 202);
    padding: 3px 20px;
    cursor: pointer;
    margin-bottom: 2px;
}

.headFav .output:hover {
    opacity: .8;
}

.headFav .select {
    width: 70px;
    width: 90px;
    font-family: 'Inter', sans-serif;
    font-size: .8rem;
    padding: 7px 3px;
    position: absolute;
    cursor: pointer;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 2px;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    z-index: 999 !important;
}

.headFav .select .option:hover {
    background-color: rgba(153, 0, 255, 0.678);
}



.country-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(53, 51, 56);
    border-radius: 4px;
    border: 1px solid rgb(138, 138, 138);
    padding: 4px 14px;
    padding-left: 4px;
    margin-bottom: 10px;
    transition: .2s;
    font-size: .9rem;
    flex: 1;
}

.country-list:hover {
    background-color: rgb(42, 39, 44);
}

.country-list img {
    height: 3rem;
    width: 4rem;
    border-radius: 4px;
    object-fit: cover;
}

.country-list .name { 
    font-family: 'Inter', sans-serif;
    flex: .4;
}

.country-list .rated {
    flex: .2;
    font-size: .9rem;
}

.country-list .rate-description {
    background-color: rgba(255, 217, 0, 0.37);
    border-radius: 4px;
    text-align: center;
    border: 1px solid gold;
    flex: .13;
    font-size: .9rem;
    padding-bottom: 1.2px;
}


@media screen and (max-width: 680px) {
    h3 {
        font-size: 1rem;
    }

    .country-list .rate-description {
        flex: .3;
        font-size: .7rem;
    }

    .country-list .name { 
        font-family: 'Inter', sans-serif;
        flex: .4;
    }

    .country-list .rated {
        flex: .188;
        font-size: .77rem;
        }

}

.country-list .remove-btn {
    border: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    transition: .2s;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    background-color: rgb(219, 219, 219);
    border: 1px solid black;
    border-radius: 100px;
}

.remove-btn svg {
    stroke: black;
}

.country-list .remove-btn:hover {
    background-color: rgb(158, 158, 158);
}



.info-page {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.349);
}


.country-information {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgb(177, 177, 177);
    max-width: 480px;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 4, 10, 0.589);
    display: flex;
    flex-direction: column;
}


.country-information .top {
    background: linear-gradient(to right bottom, rgba(255, 0, 0, 0.76) 5%, rgba(0, 238, 255, 0.158) 59%);
    padding: 10px 7px;
    background-position: top;
    animation: 4s backAnimation linear infinite; 
    transition: 2s;
    background-size: 10%;
}

@keyframes backAnimation {
    0% {
        background-position: 0%;

    }

    100% {
        background-position: -100%;
    }
}


.country-information .middle {
    padding: 7px;
    background-color: rgba(247, 0, 235, 0.055);
    border-top: 4px solid rgba(252, 3, 3, 0.233);
    
}

.country-information .bottom {
    padding: 7px;
    background-color: rgba(247, 0, 235, 0.055);
}


.country-information .middle p, .country-information .bottom p{
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.country-information .middle span, .country-information .bottom span{
    color: rgb(240, 230, 230);
    font-weight: normal;
    margin-left: 4px;
    
}




.country-information .c-i-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid ;
    padding: 0px 7px;
    height: 30px;
    border-radius: 2px;
}

.country-information img {
    height: 4.99rem;
    width: 7rem;
    border-radius: 4px;
    object-fit: cover;
}

.country-information .name {
    font-size: 1.2rem;
}

.country-information p {
    font-size: .9rem;
    font-family: 'Inter', sans-serif;
}


.country-information .note {
    font-size: .9rem;
    margin-top: 7px;
    font-weight: 700;
    border-bottom: 1px solid rgb(136, 12, 238);
    max-width: 59px;
    margin-bottom: 3px;
    margin-left: 7px;

}

.note-info {
    font-size: .99rem;
    overflow-wrap: break-word; 
    word-break: break-all;
    padding: 7px;
    margin-top: -7px;
}