.profile {
    background-color: rgba(139, 5, 128, 0.205);
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 4px;
}

.img-box {
    background: linear-gradient(to right bottom, rgba(200, 255, 0, 0.637), rgba(215, 215, 255, 0.26), rgb(255, 0, 221));
    width: 100%;
    height: 174px;
    position: relative;
    border: 2px solid goldenrod;
    border-radius: 14px;
    margin-bottom: 100px;
}

.info-box {
    position: absolute;
    bottom: -80px;
    left: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.733);
    box-shadow: 0 0 5px 0px gold;
    border-radius: 10px;
    min-width: 140px;
    text-align: center;
    padding: 4px;
}

.info-box img {
    background-color: rgba(197, 184, 184, 0.233);
    height: 100px;
    border-radius: 100px;
    border: 2px solid rgb(0, 0, 0);
    max-width: 100px;
    margin: 0 auto;
    width: 100%;
    outline: 2px solid rgb(247, 0, 255);
}


.info-box .username {
    font-size: 1rem;
    background-color: rgba(145, 137, 142, 0.226);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(225, 0, 255, 0.336);
    border-radius: 100px;
    margin-top: 4px;
    padding: 2px 10px;
    font-weight: 500;
}


.info-box .password, .info-box .created {
    font-size: .7rem;
    font-weight: 500;
}







.user-information {
    background-color: rgba(97, 92, 92, 0.425);
    margin-bottom: 30px;
    padding: 10px 4px;
    border-radius: 4px;
}

.user-information ul {
    display: flex;
    flex-direction: column;
}

.profile ul > div {
    margin-bottom: 20px;
}

.profile ul h4 {
    margin-bottom: 0;
}

.user-information ul li {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.842);
    border: 1px solid rgba(226, 226, 226, 0.068);
    padding: 8px 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 14px;
    transition: .2s;
    cursor: pointer;
    font-weight: 499;
}

.user-information ul li:hover {
    background-color: rgb(30, 0, 32);
}


.user-information li .icon {
    background-color: rgba(0, 255, 255, 0.123);
    height: 30px;
    width: 30px;
    border-radius: 5px;
    rotate: 10deg;
    box-shadow: 0 0 5px 0px gold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}


.user-information li .icon span, .user-information li .icon svg {
    rotate: -10deg;
    font-weight: 600;
    color: rgb(255, 196, 0);
}

.user-information li p {
    font-size: .92rem;
}


.user-information li p span{
    margin-left: 20px;
    color: gold;
    border: 1px solid gold; 
    font-size: .8rem;
    padding: 0 10px;
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.233);
}




@media screen and (max-width: 590px) {
    .img-box {
        height: 130px;
    }

    .info-box img {
        height: 100px;
        scale: .9;
    }
}


@media screen and (max-width: 450px) {
    .info-box {
        bottom: -59px;
        left: 10px;
    }


    .info-box img {
        height: 85px;
        width: 85px;
        font-size: .7rem;
    }

    .info-box .username {
     font-size: .8rem;
    }

    .user-information ul li  {
        font-size: .97rem;
        font-weight: 500;
    }
}