.full-spinner, .full-error {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    padding: 10px;
    margin-top: 200px;
}

.full-error, .small-error {
    border: 1px solid rgb(165, 0, 0);
    border-radius: 4px;
    background-color: #282833;
}

.small-spinner, .full-spinner {
    border: 1px solid rgb(0, 80, 184);
    border-radius: 4px;
    background-color: #282833;
}

.small-spinner, .small-error {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: .9rem;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 10px;
}





.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.288);
    margin-bottom: 20px;
}

.nav img {
    width: 100px;
    scale: 4;
    margin-top: 20px;
    margin-left: 90px;
    border-radius: 10rem;
    cursor: pointer;
    object-fit: cover;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: -9;
    position: relative;
}


@media screen and (max-width: 500px) {
    .nav img {
        width: 80px;
        margin-left: 70px;
    }
}

.logo-box {
    width: 280px;
    margin: auto;
}

.nav .bar {
    cursor: pointer;
}

.nav-tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    max-width: 800px;
    margin: 0 auto;
    padding: .4rem 1.7rem;
    list-style: none;
    border-radius: .4rem;
    border: 1px solid rgb(187, 185, 185);
    width: 90%;
    margin-bottom: 30px;
    animation: .2s NavOpen linear;
}

@keyframes NavOpen {
    from {
        opacity: .4;
        margin-top: -20px;
    }
    to {
        opacity: 1;
    }
}

.nav-tabs li {
    cursor: pointer;
    font-size: .9rem;
    font-weight: 570;
    color: rgb(224, 224, 224);
    transition: .2s;
}

.nav-tabs li:hover {
    color: lightgrey;
}

@media screen and (max-width: 600px) {
    .nav-tabs li {
        font-size: .8rem;
    }
}




.button {
    border: none;
    border: 1px solid #646cff;
    font-weight: 400;
    border-radius: 4px;
    padding-bottom: 7px;
}

.button:focus {
    outline: none;
}





.spinner {
    gap: 10px;
}
